{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block script %}<script type="text/javascript" src="static/js/validation.js"></script>{% endblock %} <!-- 404 error on this file for some reason -->
{% block body %}
<div class="jumbotron">
  <h1>Jeopardy</h1>
  <p class="lead">Thing that lets you look up Jeopardy stuff</p>
</div>

<!-- handle error -->

{% block ifError %}
    {% if error != "" %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
{% endblock ifError %}

<form name="questionform" action="/" onsubmit="return validation()" method="POST">

    <label for="date">Date Range</label>
    <div class="input-group mb-3">
        <input type="date" class="form-control" name="min_date"/>
        <input type="date" class="form-control" name="max_date"/>
    </div>

    <label for="category">Category</label>
    <div class="input-group mb-3">
        <input type="text" name="category" />
    </div>

    <label>Difficulty</label>

    <div class="input-group mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diff1" value="easy">
            <label class="form-check-label" for="diff1">Easy</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diff2" value="moderate">
            <label class="form-check-label" for="diff2">Moderate</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diff3" value="hard">
            <label class="form-check-label" for="diff3">Hard</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diff4" value="veryhard">
            <label class="form-check-label" for="diff4">Very Hard</label>
        </div>
    </div>

    <input type="submit" class="btn btn-primary mb-3" value="Submit">
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
            <th scope="col">Category</th>
            <th scope="col">Value</th>
            <th scope="col">Airdate</th>
        </tr>
    </thead>
    {% for data in result %}
        {% if data['invalid_count'] == None and (data['question'])|length > 0 %}
            <tr>
                <td> {{ data['question'] }} </td>
                <td> {{ data['answer'] }} </td>
                <td> {{ data['category']['title'].upper() }} </td>
                <td> {{ data['value'] }} </td>
                <td> {{ data['airdate'][:10] }} </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock body %}
