{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block script %}<script type="text/javascript" src="static/js/validation.js"></script>{% endblock %} <!-- 404 error on this file for some reason -->
{% block body %}
<div class="jumbotron">
  <h1>AJeopardy</h1>
  <p class="lead">Flexible service for <i>Jeopardy!</i> fans</p>
</div>

<!-- handle error -->

{% block ifError %}
    {% if error != "" %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
{% endblock ifError %}

<form name="questionform" action="/" onsubmit="return validation()" method="POST">
    <div class="row">
        <label for="date">Date Range</label>
        <div class="input-group mb-3">
            <input type="date" class="form-control" name="min_date"/>
            <input type="date" class="form-control" name="max_date"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="category">Category</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="category" />
            </div>
        </div>
        <div class="col">
            <label for="value">Value</label>
            <select class="custom-select mb-3" name="value">
                <option selected>Select value</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="800">800</option>
                <option value="1000">1000</option>
            </select>
        </div>
    </div>

    <input type="submit" class="btn btn-primary mb-3" value="Submit">
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
            <th scope="col">Category</th>
            <th scope="col">Value</th>
            <th scope="col">Airdate</th>
        </tr>
    </thead>
    {% for data in result %}
        {% if data['invalid_count'] == None and (data['question'])|length > 0 %}
            <tr>
                <td> {{ data['question'] }} </td>
                <td> {{ data['answer'] }} </td>
                <td> {{ data['category']['title'].upper() }} </td>
                <td> {{ data['value'] }} </td>
                <td> {{ data['airdate'][:10] }} </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock body %}
